.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.visited{
    background-color: yellow;
    color: black;
}
.add-flag-container img{
    width: 70px;
}